<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

        <!-- jQuery library -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>

        <!-- Latest compiled JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
        
        <style>
            body {background-color:#EAE7DC;}
            h1 {text-align: center; font-family: Sans-serif;}
            h2 {text-align: center; font-family: Sans-serif;}
            h3 {text-align: center; font-family: Sans-serif; color: #8E8D8A;}
            p.selectorsText {text-align: center; font-weight: bold; font-family: Sans-serif;}
            p.themeText {font-family: Sans-serif; color: #8E8D8A;} 
        </style>
        <script>
        </script>
  <body>
      <h1>TAK FOR DIN DELTAGELSE</h1>
      <p class="SelectorsText">Det betyder meget! <br>
        Du kan nu lukke fanen 
    </p>
  </body>
</html>